@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/list/main.css";

@media only screen and (max-width: 767px) {
    .fc-header-toolbar {
        position: relative !important;
        margin-top: 30px !important;
    }

    .fc-center {
        position: absolute !important;
        top: -40px !important;
    }
}

.title {
    margin-top: 0;
    margin-bottom: .75rem;
    text-align: center;
}