<nb-card>
    <nb-card-header>New Event</nb-card-header>
    <nb-card-body>
        <form [formGroup]="eventCalendarForm" (ngSubmit)="onSubmit(eventCalendarForm)" id="eventCalendarForm">
            <input formControlName="title" nbInput fullWidth status="basic">
            <div *ngIf="eventCalendarForm.errors && eventCalendarForm.get('title').hasError('required')">
                Oops, please provide a title!
            </div>
            <input formControlName="start" nbInput fullWidth status="basic" [nbDatepicker]="formpickerStart">
            <nb-datepicker #formpickerStart></nb-datepicker>
            <div *ngIf="eventCalendarForm.errors && eventCalendarForm.get('start').hasError('required')">
                Oops, please provide a start!
            </div>
            <input formControlName="end" nbInput fullWidth status="basic" [nbDatepicker]="formpickerEnd">
            <nb-datepicker #formpickerEnd></nb-datepicker>
            <div *ngIf="eventCalendarForm.errors && eventCalendarForm.get('end').hasError('required')">
                Oops, please provide a end!
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="close()">Close Dialog</button>
        <button nbButton form="eventCalendarForm" type="submit">Enviar</button>
    </nb-card-footer>
</nb-card>