<nav class="rpa-header">
    <div class="header-container">
        <nb-actions size="medium">
            <nb-action icon="menu-2-outline" (click)="toggle()"></nb-action>
            <nb-action>RPA</nb-action>
        </nb-actions>
        
    </div>
    <div class="header-container">
        <nb-actions size="medium">
            <nb-action icon="settings-outline" [routerLink]="['/admin']"></nb-action>
            <nb-action icon="search-outline"></nb-action>
            <nb-action icon="person-outline"></nb-action>
        </nb-actions>
    </div>
</nav>