nb-layout-header {
    .fixed {
        width: 100%;
        background-color: #fff;
    }

    nav {
        align-items: inherit !important;
        justify-content: inherit !important;
        display: inherit !important;
    }
}